
root {--main-color:#294B29;

}

.global-button-primary { 
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.global-button-primary:hover {
  background-color: #fff;
  text-decoration: none;
  color: #422800;

}

.global-button-primary:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.hero { 
    background: #fbeee0;
    text-align: center;
    padding: 140px 20px;
}

.hero p {
    font-family: "Helvetica";
    text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.hero h1 { 
    font-family: "Helvetica";
    font-size: 96px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.hero h2 {
    text-align: center;
font-family: "helvetica";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.container p {
    font-family: "Helvetica";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;    
}

.container h2 { 
    font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

img {
border: 100px #422800;

}

.container-contact {
text-align: center;
    border: 20px;
padding: 49px, 119px;
background-color: solid black;
}

