


.hero { 
    background: #FAEED1;
    text-align: center;
    padding: 140px 20px;
}

.hero p {
    font-family: "Helvetica", sans-serif;
}

.hero h1, h2 { 
    font-family: "Calibri";
    line-height: 70px;
    font-weight: 100;
}



